<% include partials/header.ejs %>
<div class="body-wrapper">
    <h1>Posts</h1>
    <ul>
        <% storage.Posts.forEach((item) => { %>
            <li class="post">
                <h3><%= item.name %></h3>
                <div class="Image">
                    <img src="<%= item.image %>">
                </div>
                <p>
                    <%= item.description %>
                </p>
            </li>
        <% }) %>
    </ul>
    <!-- <button id="createPostBtn">Create a post</button>
    <form id="createPost" method="POST" action="/savePost">
        <label for="title">Title of post</label>
        <input type="text" name="title">
        <label for="body">Body of post</label>
        <input type="textarea" name="body">
        <input type="submit" value="Submit">
    </form> -->
</div>
<% include partials/footer.ejs %>