h1{
    margin: 0;
    padding: 0;
    color: dodgerblue;
    text-align: center;
}

h3{
    text-align: center;
}

#createPost{
    display: none;
}

.header-nav{
    height: 60px;
    background-color: springgreen;
}

.header-nav li {
    padding: 20px 20px;
    color: white;
    list-style: none;
    display: inline-block;

}

.header-nav li a:link{
    text-decoration: none;
}

.body-wrapper{
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding: 3em;
}

.Image{
    width: 15em;
    height: auto;
}

.Image img{
    width: inherit;
    height: inherit;
}

.post{
    float: left;
    list-style: none;
    margin: 2.5em 2em ;
}

.clearFloat{
    float: none;
}